/* HIDE RADIO */
[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type="radio"] + img {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
}

/* CHECKED STYLES */
[type="radio"]:checked + img {
  outline: 3px solid rgb(246, 242, 137);
}
