::-webkit-scrollbar {
    width: 1px;
    height: 7px;
    
  }
  
  ::-webkit-scrollbar-thumb {
    background:#6663a5 ;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-track {
    background: #252537;
    border-radius: 10px;
  }
  



  input[type="file"]::file-selector-button {
    border:none;
    color: '#6663a5' ;
    border-radius: 0.2em;
    background-color: #A19FDC;
    transition: 1s;
  }
  
  input[type="file"]::file-selector-button:hover {
    background-color: #255537;
  }

  a{
    text-decoration: none;
  }